.search_form {
    text-align: center;
    max-width: 300px;
    margin: 0 auto 30px;
}

.search_form form,
.search_form .MuiTextField-root {
    width: 100%;
}

.MuiInputBase-input {
    color: #fff !important;
}

.MuiFormLabel-root {
    color: #fff !important;
}

.MuiInput-underline:before {
    border-color: #fff !important;
}