.paginations_wrapper {
    margin-top: 50px;
}

.MuiPagination-ul {
    justify-content: center;
}

.MuiPagination-ul li button {
    color: #fff;
}

.MuiPaginationItem-ellipsis{
    color: #fff !important;
}